<div class="row-fluid">
  <div class="main-pane span12">
    <div>
      <div>
        <div>

          <div class="headerpane">
            <div class="btn-toolbar pull-right">
              <!--render buttons-->
                <span class="detail">
                  <a type="button" track="click:closeDispositionDrawer" name="close_button"
                     class="btn btn-invisible btn-link">Close</a>
                </span>
            </div>
          </div>

          <div class="record">
            <div class="row-fluid panel_body">
              {{{html}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>