{{#if value}}
    <span class="linkedin_profile" class="sugar_field">
        <a href="{{value}}" {{#if def.link_target}}target="{{def.link_target}}"{{/if}} title="{{value}}">
            <img src="custom/themes/default/images/linkedin-btn-2.png">
        </a>
    </span>
{{/if}}