<div class="offset1 span3 rule-module"></div>
<div class="span3 rule-field"></div>
<div class="span3 rule-operation"></div>
<!--<div class="span3 rule-value"></div>-->
<div class="span1">
    <button class="btn btn-danger pull-right rule-remove" data-rule-index="{{ruleIndex}}">Remove</button>
</div>
